{% extends 'dashboardlayout.html' %}
{% block title  %}
    Conductors| Profile | {{ conductor.first_name }} {{ conductor.last_name }}
{% endblock  %}
{% block content %}

                          <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-header-title">
                                    <h4 class="pull-left page-title">Conductor-Profile</h4>
                                    <ol class="breadcrumb pull-right">
                                        <li><a href="{% url 'dashboard' %}">Pioneer Bus Service</a></li>
                                        <li class="active">Driver-profile</li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ conductor.first_name }} {{ conductor.last_name }}
                </div>
                <div class="panel-body">
                     <div class="row" style="padding:5px; margin:5px;" >
        <!-- edit form column -->


        <div class="col-lg-8 order-lg-1 personal-info">
            <form role="form">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">First name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{conductor.first_name}}" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{conductor.last_name}}" disabled/>
                    </div>
                </div>
                {% if student.user != NULL %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="{{ conductor.user.email }}" disabled/>
                    </div>
                </div>
                {% endif %}


                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="{{conductor.address}}" disabled/>
                    </div>
                </div>
            <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{conductor.phone_number}}" disabled/>
                    </div>
                </div>

            <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Blood Group</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{conductor.blood_group}}" disabled/>
                    </div>
                </div>
            <h4>Document Details</h4>
                <hr>
            <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Document Name</label>

                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{conductor.document}}" disabled/>
                    </div>
                </div>
            <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Document Number</label>

                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{conductor.document_no}}" disabled/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">{{ conductor.document }} Image</label>
                    <div class="col-lg-9">
                        <img src="{% if conductor.document_upload %}{{ conductor.document_upload.url }}{% else %}//api.adorable.io/avatars/120/trickst3r.png{% endif %}" class="mx-auto img-fluid rounded-circle" alt="avatar" />
                    </div>

                </div>



                <br>
            </form>
        </div>
        <div class="col-lg-4 order-lg-0 text-center">
            <img src="//api.adorable.io/avatars/120/trickst3r.png" class="mx-auto img-fluid rounded-circle" alt="avatar" />


        </div>
    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}