{% extends 'dashboardlayout.html' %}
{% block title  %}
    Driver| Profile | {{ driver.first_name }} {{ driver.last_name }}
{% endblock  %}
{% block content %}

                          <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-header-title">
                                    <h4 class="pull-left page-title">Driver-Profile</h4>
                                    <ol class="breadcrumb pull-right">
                                        <li><a href="{% url 'dashboard' %}">Pioneer Bus Service</a></li>
                                        <li class="active">Driver-profile</li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ driver.first_name }} {{ driver.last_name }}
                </div>
                <div class="panel-body">
                     <div class="row" style="padding:5px; margin:5px;" >
        <!-- edit form column -->


        <div class="col-lg-8 order-lg-1 personal-info">
            <form role="form">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">First name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{driver.first_name}}" disabled/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{driver.last_name}}" disabled/>
                    </div>
                </div>
                {% if student.user != NULL %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="{{ driver.user.email }}" disabled/>
                    </div>
                </div>
                {% endif %}


                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" placeholder="{{driver.address}}" disabled/>
                    </div>
                </div>
            <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{driver.phone_number}}" disabled/>
                    </div>
                </div>
             <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Driving Licence</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{driver.dl_no}}" disabled/>
                    </div>
                </div>
             <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Driving Licence Image</label>
                    <div class="col-lg-6">
                        <img src="{% if driver.dl_image %}{{ driver.dl_image.url }}{% else %}//api.adorable.io/avatars/120/trickst3r.png{% endif %}" class="mx-auto img-fluid rounded-circle" alt="avatar" />
                    </div>
                        <label class="col-lg-3 col-form-label form-control-label">Valid Upto</label>
                     <div class="col-lg-3">
                         <input class="form-control" type="text" value="{{driver.valid_upto}}" disabled/>
                    </div>
                </div>
            <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Blood Group</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{driver.blood_group}}" disabled/>
                    </div>
                </div>
            <h4>Document Details</h4>
                <hr>
            <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Document Name</label>

                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{driver.document}}" disabled/>
                    </div>
                </div>
            <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Document Number</label>

                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="{{driver.document_no}}" disabled/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">{{ driver.document }} Image</label>
                    <div class="col-lg-9">
                        <img src="{% if driver.document_upload %}{{ driver.document_upload.url }}{% else %}//api.adorable.io/avatars/120/trickst3r.png{% endif %}" class="mx-auto img-fluid rounded-circle" alt="avatar" />
                    </div>

                </div>

                <br>
            </form>
        </div>
        <div class="col-lg-4 order-lg-0 text-center">
            <img src="//api.adorable.io/avatars/120/trickst3r.png" class="mx-auto img-fluid rounded-circle" alt="avatar" />


        </div>
    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}